<p id="notice"><%= notice %></p>

<h1>Text Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_questions.each do |text_question| %>
      <tr>
        <td><%= text_question.title %></td>
        <td><%= text_question.body %></td>
        <td><%= link_to 'Show', text_question %></td>
        <td><%= link_to 'Edit', edit_text_question_path(text_question) %></td>
        <td><%= link_to 'Destroy', text_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text Question', new_text_question_path %>
