<p id="notice"><%= notice %></p>

<h1>Choose Answers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @choose_answers.each do |choose_answer| %>
      <tr>
        <td><%= choose_answer.title %></td>
        <td><%= choose_answer.body %></td>
        <td><%= link_to 'Show', choose_answer %></td>
        <td><%= link_to 'Edit', edit_choose_answer_path(choose_answer) %></td>
        <td><%= link_to 'Destroy', choose_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choose Answer', new_choose_answer_path %>
