<p id="notice"><%= notice %></p>

<h1>Choose Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @choose_questions.each do |choose_question| %>
      <tr>
        <td><%= choose_question.title %></td>
        <td><%= choose_question.body %></td>
        <td><%= link_to 'Show', choose_question %></td>
        <td><%= link_to 'Edit', edit_choose_question_path(choose_question) %></td>
        <td><%= link_to 'Destroy', choose_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choose Question', new_choose_question_path %>
